$lightbc: #FFFFF5;
$darkblue:#4888C0;
$lightblue:#29A9B6;
$green:#9BAC48;
$red:#D1552B;
$orange:#ED8B3A;

@font-face {
    font-family: myFont;
    src: url(sketch_gothic_light_demo.otf);
   }
body {
  font-family: myFont;
  text-align: center;
   }
.background{
	opacity: 0.7;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -90;
    }
.button{
  font-family: myFont;
  font-size: 1.5em;
  margin: 10 auto;
  z-index:100;
	text-align: center;
	background-color:$lightblue;
  border: none 6px solid;
  color: darken($darkblue,15%);
    }
.op{
	position: absolute;
	opacity: 0.4;
	background-color: $lightbc ;
	height: 100%;
	z-index: -80;
    }
.top{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	}
.op1{
  @extend .top;
	}
.logo{
  z-index:10;
	position: relative;
	width: 45%;
	top: 40px;	
    }
.desc{
	font-size: 3em;
	position: relative;
	top: 5%;
	color: darken($darkblue,15%);
	font-weight: bold;
    }
.buttons{
	opacity: 0.9;
	position: relative;
	top: 5%;
   }
.b1{
	width: 110px;
	height: 40px;
  border-radius: 10px;
	}
.b2{
	@extend .b1;
	width: 250px;
  color: lighten($lightblue,40%);
	background-color: lighten($lightblue,15%);
	}
#option{
    margin-top:10px;
    opacity:0.9;
    width:95%;
    height:40px;
    border-radius: 10px;
    }
.map{
	position: absolute;
	z-index: -900;
	top: 2%;
  bottom: 2%;
	left: 2%;
  right:2%;
	width: 95%;
	height: 95%;
	background-color: none;
	border: $red 4px solid;
	border-radius: 20px;
	opacity: 0.9;
    }
.map1{
  @extend .map;
  width: 68%;
  z-index:1;
  }
.op2,.menu,.logo1{
  width:25%;
	position: fixed;
	top: 0%;
	right: 1%;
    }
.op2{
    opacity:0.3;
    }
#add{
    opacity:0.9;
    width:30%;
    height:40px;
    border-radius: 10px;
    }
#address{
	@extend #add;
	width:60%;
  color:lighten($lightblue,40%);
  background-color: lighten($lightblue,15%);
    }
.up{
	opacity: 0.9;
	position: relative;
	top: 5%;
  margin: 0 auto;
  width:250px;
    }
.sup{
  float:left;
  width:100%;
  margin: 0;
    }
.logo2{
    width: 100%;
    }
.noimage{
  font-size: 1.5em;
  background-color:lighten($lightblue,15%);
  margin:20 auto;
  text-align: center;
	width:100px;
	height:100px;
	border-radius: 10px;
  color: lighten($lightblue,40%);

  }
.user{
	margin-top: 70%;
  }
.file{
  text-align: center;
	margin:10 auto;
	margin-left:40px;
  }
.pop{
  display: none;
  position: absolute;
  left:30%;
  right:30%;
  top:30%;
  bottom:30%;
  z-index:100;
  width:40%;
  height:40%;
  font-size: 5em;
  color: $lightblue;
  }
   .fp{

   margin-top:50px;
   margin-left: 0px;
   width:15%;
   border: $orange 4px solid;
   border-radius: 10px;

  
  }
  .sh{
   margin-top:50px;
   margin-left: 0px;
   width:15%;
  }
.op3{
  display:none;
  position: fixed;
  z-index:50;
  opacity: 0.7;

  }



@media (max-width: 800px) {
	.logo{
	position: relative;
	top: 60px;
	width: 300px;
	}
	.desc{
	font-size: 2em;
	position: relative;
	top: 15%;}
	.buttons{
	margin: 0 auto;
	top: 15%;
	width:70%;
	}
  #add,#address,#option{
    font-size:1em;
    }
  .map1{
    width:60%;
    }
  .op2,.menu,.logo1{
    width:33%;}
  .pop{
    width:30%;
    height:40%;
    font-size:3em;
    }
  .fp{
    width:25%;
    }
    }


@media (max-width: 600px) {

	.desc{
	  font-size: 1.2em;
	  position: relative;
	  top: 15%;
    }
  .button{
    font-size: 1em;
    }
  .map1{
    width:50%;
    }
  .op2,.menu,.logo1{
    width:43%;
    }
  #add,#address,#option{
    font-size:0.9em;
    }
  }

@media (max-width: 420px) {

	.desc{
	  font-size: 1em;
	  position: relative;
	  top: 10%;
    }
  .buttons{
    top: 10%;
    }
  .user{
	  display: none;
    }
  #add{
    margin-top:90%;
    }
  .noimage{
    margin:0 auto;
    }
  .pop{
    width:40%;
    height:40%;
    }
   }

